<div class="modal">
  <h2 class="modal-title">Excluir Conta</h2>

  <p class="confirm-instruction">
    Digite o código abaixo para confirmar a exclusão da sua conta:
  </p>

  <div class="confirm-code">
    {{ confirmCode }}
  </div>

  <form [formGroup]="form" (ngSubmit)="send()">
    <app-default-primary-input
      formControlName="deleteAccConfirm"
      inputName="deleteAccConfirm"
      label="Código de confirmação"
      placeholder="Ex: 1234"
      type="text"
      id="delete-acc"
    ></app-default-primary-input>

    <div class="modal-buttons">
      <div class="modal-cancel" (click)="cancel()">
        <mat-icon fontIcon="chevron_left"></mat-icon>
      </div>
      <div class="modal-send" (click)="send()">
        <mat-icon fontIcon="send"></mat-icon>
      </div>
    </div>
  </form>
</div>
