<div class="modal">
  <h2 class="modal-title">Mudar Senha</h2>
  <form [formGroup]="form" (ngSubmit)="send()">
    <app-default-primary-input
      formControlName="currentPassword"
      inputName="currentPassword"
      label="Digite a Senha Atual"
      placeholder="Digite a senha atual"
      type="password"
      id="current-password"
    ></app-default-primary-input>

    <app-default-primary-input
      formControlName="newPassword"
      inputName="newPassword"
      label="Digite a Nova Senha"
      placeholder="Digite a nova senha"
      type="password"
      id="new-password"
    ></app-default-primary-input>

    <app-default-primary-input
      formControlName="confirmPassword"
      inputName="confirmPassword"
      label="Confirme a Nova Senha"
      placeholder="Confirme a nova senha"
      type="password"
      id="confirm-password"
    ></app-default-primary-input>

    <div class="modal-buttons">
      <div class="modal-cancel" (click)="cancel()">
        <mat-icon aria-hidden="false" fontIcon="chevron_left"></mat-icon>
      </div>
      <div class="modal-send">
        <button type="submit">
          <mat-icon aria-hidden="false" fontIcon="send"></mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
