$bg-primary-color: #1E2772;
$bg-secondary-color: #1E2772;
$bg-tertiary-color: #1E2772;
$icon-selected-color: #1abc9c;
$icon-hover-color: #66dac2;

$primary-color: #7001FD;
$secondary-color: #1E2772;
$gray-bg: #e0e0e0;
$gray-bg-secondary: #666;

$primary-text-color: #555555;
$secondary-text-color: #4d5080;
$alert-text-color: #ca9e25;
$success-text-color: #236116;

$primary-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #fbfbfb;
$secondary-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #fbfbfb;

$border-radius: 9px;
$default-border: none;// 1px solid #ecebeb;